@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: #3d66cb;
  --tertiary-color: #fff;
  --third-color: #000;
}

body,
html {
  margin: 0;
  padding: 0;
}

.tc-btn {
  text-align: center;
}

.tc-btn button {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.tc-btn button:hover {
  background-color: var(--third-color);
  color: var(--tertiary-color);
}

.modal .modal-dialog .modal-content .close {
  align-self: end;
  margin-top: -50px;
  width: 3%;
  height: 6%;
  border: 2px black solid;
  border-radius: 50%;
  box-sizing: border-box;
}

.modal-dialog .modal-content {
  max-width: 1440px;
  width: 200%;
  height: 100%;
  padding: 60px 30px;
}
.modal-dialog .modal-content .modal-header {
  align-self: center;
}

.modal-dialog .modal-content .modal-header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.modal-dialog .modal-content .modal-body {
  padding: 20px 50px;
}

.modal-dialog .modal-content .modal-body .condition {
  padding: 25px 20px;
}

.modal-dialog .modal-content .modal-body .condition h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.modal-dialog .modal-content .modal-body .condition p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.modal-dialog .modal-content .modal-footer {
  align-self: center;
}

.modal-dialog .modal-content .modal-footer button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 303px;
  height: 52px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-size: 16px;
  font-weight: 700;
}

.modal-dialog .modal-content .modal-footer button:hover {
  background-color: var(--third-color);
  color: var(--tertiary-color);
}

/*Tablet View*/

@media only screen and (max-width: 990px) {
  .modal {
    padding: 50px;
  }

  .modal-dialog .modal-content {
    width: 130%;
    height: 100%;
    padding: 30px 15px;
  }

  .modal-dialog .modal-content .modal-header h1 {
    font-size: 35px;
  }

  .modal .modal-content2 .thankyou_modal h1 {
    font-size: 35px;
  }

  .modal .modal-dialog .modal-content .close {
    margin-top: -20px;
    width: 6%;
    height: 5%;
  }
}

/*Mobile View*/

@media only screen and (max-width: 600px) {
  .modal {
    padding: 10px;
  }
  .modal-dialog .modal-content {
    width: 100%;
    height: 100%;
    padding: 15px 7px;
  }

  .modal-dialog .modal-content .modal-body {
    padding: 0;
  }

  .modal-dialog .modal-content .modal-header h1 {
    font-size: 35px;
    text-align: center;
  }

  .modal-dialog .modal-content {
    padding: 50px 15px;
  }

  .thankyou_modal p br {
    display: none;
  }

  .modal .modal-dialog .modal-content .close {
    margin-top: -40px;
    width: 8%;
    height: 5%;
  }
}
